In [25]:
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd

In [26]:
titanic = pd.read_csv("titanic_dataset.csv")
titanic.sample(8)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
396,397,0,3,"Olsson, Miss. Elina",female,31.0,0,0,350407,7.8542,NaN,S
428,429,0,3,"Flynn, Mr. James",male,NaN,0,0,364851,7.7500,NaN,Q
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5000,NaN,S
747,748,1,2,"Sinkkonen, Miss. Anna",female,30.0,0,0,250648,13.0000,NaN,S
484,485,1,1,"Bishop, Mr. Dickinson H",male,25.0,1,0,11967,91.0792,B49,C
110,111,0,1,"Porter, Mr. Walter Chamberlain",male,47.0,0,0,110465,52.0000,C110,S
728,729,0,2,"Bryhl, Mr. Kurt Arnold Gottfrid",male,25.0,1,0,236853,26.0000,NaN,S
418,419,0,2,"Matthews, Mr. William John",male,30.0,0,0,28228,13.0000,NaN,S

In [38]:
titanic.shape

(891, 12)

In [39]:
cabin = titanic['Cabin']
cabin

0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: Cabin, Length: 891, dtype: object

In [40]:
cabin.isnull().sum()

687

In [41]:
cabin = cabin.dropna()

In [42]:
cabin = pd.DataFrame(cabin)
cabin

           Cabin
1            C85
3           C123
6            E46
10            G6
11          C103
..           ...
871          D35
872  B51 B53 B55
879          C50
887          B42
889         C148

[204 rows x 1 columns]

In [47]:
cabin['cabin_num'] = cabin['Cabin'].str[0]

AttributeError: module 'numpy' has no attribute 'matrix'