In [53]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np 
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer 
imputer = IterativeImputer(random_state=100, max_iter=10)

In [54]:
datas = {
    'Age':[25,27,29,31,33,np.nan],
    'Experience':[np.nan,3,5,7,9,11],
    'Salary':[50,np.nan,80,90,100,130],
}
datas = pd.DataFrame(datas)
datas

    Age  Experience  Salary
0  25.0         NaN    50.0
1  27.0         3.0     NaN
2  29.0         5.0    80.0
3  31.0         7.0    90.0
4  33.0         9.0   100.0
5   NaN        11.0   130.0

In [55]:
xtrain = datas.iloc[:5,1:3]
print(xtrain)
xtest = datas.iloc[5:6,1:3]
print(xtest)
ytrain = datas.iloc[:5,0:1]
print(ytrain)

   Experience  Salary
0         NaN    50.0
1         3.0     NaN
2         5.0    80.0
3         7.0    90.0
4         9.0   100.0
   Experience  Salary
5        11.0   130.0
    Age
0  25.0
1  27.0
2  29.0
3  31.0
4  33.0

In [56]:
imputer.fit(datas)
df_imputed = imputer.transform(datas)
df_imputed

array([[ 25.        ,   1.75810877,  50.        ],
       [ 27.        ,   3.        ,  71.22166568],
       [ 29.        ,   5.        ,  80.        ],
       [ 31.        ,   7.        ,  90.        ],
       [ 33.        ,   9.        , 100.        ],
       [ 35.89919658,  11.        , 130.        ]])