In [47]:
import numpy as np
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')

In [48]:
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score
from sklearn import set_config
from sklearn.compose import ColumnTransformer

In [50]:
data = pd.read_csv("C:\\Users\\Geetanshu Dev\\Documents\\csv\\titanic_dataset.csv",usecols=['survived','pclass','sex','age','sibsp','fare','embarked'])
data.head()

   survived  pclass     sex   age  sibsp     fare embarked
0         0       3    male  22.0      1   7.2500        S
1         1       1  female  38.0      1  71.2833        C
2         1       3  female  26.0      0   7.9250        S
3         1       1  female  35.0      1  53.1000        S
4         0       3    male  35.0      0   8.0500        S